.dashboard {
    width: 100%;
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.dashbaord-greet {
    width: 100%;
}

.dashboard-holdings {
    gap: 25px;
    display: flex;
    flex-direction: column;
}

.dashboard-holdings-value {
    width: 100%;
    display: flex;
}

.dashboard-pnl-value {
    width: 50%;
    text-align: left;
}

.dashboard-pnl-value p:nth-of-type(1) {
    font-size: 35px;
    font-weight: 700;
}

.dashboard-investments-value {
    width: 50%;
}

.dashboard-investments-chart {
    width: 100%;
}

.dashboard-holding-value-chart {
    stroke: #ffffff;
    font-weight: 500;
}