.watchlist {
    width: 100%;
    height: max-content;
}

.watchlist-search {
    margin-bottom: 5px;
}

.watchlist-search .MuiInputBase-input {
    color: #ffffff;
}

.watchlist-search .MuiInputLabel-root {
    color: #ffffff;
}

.watchlist-search .MuiInputLabel-root.Mui-focused {
    color: #ffffff;
}

.watchlist-search .MuiOutlinedInput-notchedOutline {
    border-color: #303030 !important;
    border-radius: 5px;
}

/* Search Coins */
.coin-search {
    height: 350px;
    overflow-y: scroll;
    padding: 25px 10px;
    border-radius: 10px;
    background-color: #202020;
}

.coin-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #303030;
}

.coin-item:hover {
    background-color: #000000;
}


/* Create Watchlist */

.create-watchlist {
    width: 100%;
}

.create-watchlist form {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-watchlist form .MuiInputBase-input {
    color: #ffffff;
}

.create-watchlist form .MuiInputLabel-root {
    color: #ffffff;
}

.create-watchlist form .MuiInputLabel-root.Mui-focused {
    color: #ffffff;
}

.create-watchlist form .MuiOutlinedInput-notchedOutline {
    border-color: #303030 !important;
    border-radius: 5px;
}


.create-watchlist form > button {
    border: none;
    color: #ffffff;
    padding: 15px 15px;
    border-radius: 5px;
    background-color: #202020;
}

.create-watchlist form > button:hover {
    color: #000000;
    background-color: #ffffff;
}

/* Watchlist Content */

.watchlist-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.watchlist-nav {
    gap: 10px;
    margin: 5px 0;
    padding: 5px 5px;
    border: 1px solid #303030;
    display: flex;
    overflow: auto;
    cursor: pointer;
    scrollbar-width: none;
    align-items: center;
}

.watchlist-nav button {
    border: none;
    color: #ffffff;
    padding: 12px;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #202020;
}

.watchlist-nav button:hover {
    color: #000000;
    background-color: #ffffff;
}

.watchlist-nav::-webkit-scrollbar {
    display: none;
}

.user-watchlist {
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #202020;
}

.current-watchlist {
    padding: 10px;
    color: #ffffff;
    border-radius: 5px;
    white-space: nowrap;
    background-color: #059669;
}

.watchlist-items > div {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 12px 5px;
    align-items: center;
    margin-bottom: 5px;
    border-radius: 5px;
    border-bottom: 1px solid #303030;
}

.watchlist-items > div:hover {
    background-color: #202020;
}

.watchlist-items div p {
    gap: 15px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.watchlist-items div p:nth-of-type(1) {
    justify-self: start;
}

.watchlist-items div p:nth-of-type(2) {
    justify-self: center;
}

.watchlist-items div p:nth-of-type(3) {
    justify-self: end;
}

.watchlist-items-chart {
    color: #ffffff;
}

.watchlist-items-chart:hover {
    color: #059669;
}