.watchlist {
    width: 100%;
    height: max-content;
}

.watchlist-search {
    margin-bottom: 5px;
}

/* Search Coins */

.add-symbol-btn {
    display: block;
    margin: 10px auto;
    color: #6b6b70;
    padding: 10px 25px;
    border-radius: 100px;
    border: 2px solid #232323;
    background-color: transparent;
}

.add-symbol-btn:hover {
    background-color: #111111;
}

.coin-search {
    height: 350px;
    margin: 10px 0;
    overflow-y: scroll;
    padding: 15px 15px;
    border-radius: 10px;
    scrollbar-width: none;
    background-color: #111111;
}

.coin-item {
    display: flex;
    font-size: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #232323;
}


/* Create Watchlist */

.create-watchlist {
    width: 100%;
}

.create-watchlist form {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create-watchlist form > button {
    border: none;
    color: #ffffff;
    padding: 15px 15px;
    white-space: nowrap;
    border-radius: 100px;
    background-color: #059669;
}

.create-watchlist form > button:hover {
    color: #c4c4c4;
    border: 2px solid #232323;
    background-color: #111111;
}

/* Watchlist Content */

.watchlist-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.watchlist-nav {
    gap: 10px;
    display: flex;
    overflow: auto;
    cursor: pointer;
    margin-bottom: 10px;
    scrollbar-width: none;
    align-items: center;
}

.watchlist-nav button {
    font-size: 14px;
    color: #ffffff;
    padding: 8px 15px;
    white-space: nowrap;
    border-radius: 100px;
    border: 2px solid transparent;
    background-color: #059669;
}

.watchlist-nav button:hover {
    color: #c4c4c4;
    border: 2px solid #232323;
    background-color: #111111;
}

.watchlist-nav::-webkit-scrollbar {
    display: none;
}

.user-watchlist {
    font-size: 14px;
    color: #696969;
    padding: 8px 15px;
    white-space: nowrap;
    border-radius: 100px;
    border: 2px solid #232323;
}

.current-watchlist {
    font-size: 14px;
    color: #ffffff;
    padding: 8px 15px;
    white-space: nowrap;
    border-radius: 100px;
    border: 2px solid #232323;
    background-color: #059669;
}

.watchlist-items > div {
    display: flex;
    padding: 12px 10px;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
    border-bottom: 1px solid #232323;
}

.watchlist-price {
    display: flex;
    flex-direction: column;
}

.watchlist-price > span:nth-of-type(1) {
    font-size: 15px;
}

.watchlist-price > span:nth-of-type(2) {
    gap: 10px;
    font-size: 13px;
    display: flex;
}

.watchlist-action {
    gap: 15px;
    display: flex;
    align-items: center;
    color: #6b6b70;
}

.nav {
    color: #6b6b70;
}

.nav:hover {
    color: #c4c4c4;
}