.layout {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.layout-content {
    gap: 15px;
    display: flex;
    margin-top: 10px;
}

.layout-left {
    max-width: 35%;
}

.layout-right {
    max-width: 65%;
}