.navbar {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    font-size: 25px;
    font-weight: 700;
}

.navbar-left p {
    margin: 0;
    color: #059669;
    font-size: 25px;
}

.navbar-right {
    gap: 25px;
    display: flex;
    align-items: center;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.active {
    color: #059669;
}

.navbar-user {
    color: #ffffff;
}

.ac-popup {
    gap: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 999;
    margin: 25px 10px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #202020;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.sub-nav-link {
    text-align: center;
    color: #ffffff;
    padding: 7px 10px;
    border-radius: 5px;
    text-decoration: none;
}

.sub-nav-link:hover {
    background-color: #059669;
}