.navbar {
    width: 100%;
    padding: 12px 0;
    border-bottom: 1px solid #303030;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-left {
    font-size: 25px;
    font-weight: 700;
}

.navbar-left p {
    margin: 0;
    color: #059669;
    font-size: 25px;
}

.navbar-right {
    gap: 25px;
    display: flex;
    align-items: center;
}

.wList {
    display: none;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.active {
    color: #059669;
}

.navbar-user {
    color: #ffffff;
}

.ac-popup {
    gap: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    z-index: 999;
    margin: 25px 10px;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
    background-color: #111111;
    border: 1px solid #232323;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.sub-nav-link {
    color: #f0f0f0;
    text-decoration: none;
}

.sub-nav-link:hover {
    color: #059669;
}



@media(max-width: 768px) {
    .navbar {
        padding: 20px 25px;
        border-radius: 100px;
        border: 1px solid #232323;
        background-color: #111111;
    }

    .navbar-left {
        display: none;
    }

    .navbar-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .wList {
        display: block;
    }

    .sub-nav-link > span,
    .nav-link > span {
        display: none;
    }

    .ac-popup {
        bottom: 50px;
        right: 0;
    }
}