.sign-in {
    gap: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 35px;
    border-radius: 10px;
    background-color: #111111;
}

.sign-in > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-in form {
    width: 65%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.sign-in form .MuiOutlinedInput-notchedOutline {
    border-radius: 5px;
}

.sign-in a {
    color: #f0f0f0;
    text-decoration: none;
}

.sign-in a:hover {
    color: #ffffff;
}



@media (max-width: 768px) {
    .sign-in form {
        width: 100%;
    }
}