* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  padding: 0 5%;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 35px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

h2 {
  font-size: 22px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  color: #c4c4c4;
}


/* BUTTON */

button {
  border: none;
  border-radius: 100px;
}


/* STATS */

.stats {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/* TABS */

.tabs {
  gap: 5px;
  display: flex;
  width: fit-content;
  padding: 7px 7px;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: #111111;
  border: 1px solid #232323;
}

.tabs > button {
  margin: 0;
  font-size: 15px;
  color: #f0f0f0;
  padding: 15px 17px;
  letter-spacing: 0.12em;
  background-color: transparent;
}

.active-tab-btn {
  margin: 0;
  font-size: 15px;
  color: #f0f0f0;
  padding: 15px 17px;
  box-sizing: 0 8px 25px rgba(16, 185, 129, 0.3);
  background: linear-gradient(135deg, #10b981, #059669);
}


/* MUI Table */

.MUI-table .MuiTable-root {
  border-radius: 5px;
  background-color: #111111;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableHead-root {
  text-transform: uppercase;
  background-color: #000000;
  border: 1px solid #232323;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableHead-root .MuiTableCell-root {
  font-weight: 600;
  letter-spacing: 0.18em;
}

.MUI-table .MuiTableRow-root {
  border-bottom: 1px solid #232323;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableCell-root {
  border: none;
  color: #c4c4c4;
  font-family: "Mulish", sans-serif !important;
}

/* MUI TextFields */

.input {
  width: 100%;
  margin-bottom: 10px !important;
}

.input .MuiOutlinedInput-root {
  background-color: #111111;
  border-radius: 100px;
}

.input .MuiInputBase-input {
  color: #a2a2a2;
  font-size: 14px !important;
  font-family: "Mulish", sans-serif !important;
}

.input .MuiInputLabel-root {
  color: #a2a2a2;
  font-size: 14px !important;
  font-family: "Mulish", sans-serif !important;
}

.input .MuiInputLabel-root.Mui-focused {
  color: #a2a2a2;
  font-family: "Mulish", sans-serif !important;
}


/* ICONS */

.fa-x {
  color: #6b6b70;
}

.fa-x:hover {
  color: #ff0000;
}