body {
  padding: 0 5%;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Mulish", sans-serif;
}

h1 {
  color: #ffffff;
}

h2 {
  color: #ffffff;
}

h3 {
  color: #ffffff;
}

p {
  margin: 0;
  padding: 0;
  color: #ffffff;
}