* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  padding: 0 5%;
  box-sizing: border-box;
  background-color: #000000;
  font-family: "Mulish", sans-serif;
}

h1 {
  font-size: 35px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

h2 {
  font-size: 22px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

h3 {
  font-size: 20px;
  margin: 5px 0;
  color: #f0f0f0;
  font-weight: 800;
  letter-spacing: 0.18em;
  font-family: "Mulish", sans-serif;
}

p {
  margin: 0;
  font-size: 15px;
  line-height: 1.4;
  color: #c4c4c4;
}


/* BUTTON */

button {
  border: none;
  border-radius: 100px;
}


/* STATS */

.stats {
  gap: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/* TABS */

.tabs {
  gap: 5px;
  display: flex;
  width: fit-content;
  padding: 7px 7px;
  border-radius: 100px;
  margin-bottom: 20px;
  background-color: #111111;
  border: 1px solid #232323;
}

.tabs > button {
  margin: 0;
  font-size: 15px;
  color: #f0f0f0;
  padding: 12px 12px;
  letter-spacing: 0.12em;
  background-color: transparent;
}

.active-tab-btn {
  margin: 0;
  font-size: 15px;
  color: #f0f0f0;
  padding: 12px 15px;
  box-sizing: 0 8px 25px rgba(16, 185, 129, 0.3);
  background: linear-gradient(135deg, #10b981, #059669);
}


/* MUI Table */

.MUI-table {
  scrollbar-width: none;
}

.MUI-table .MuiTable-root {
  border-radius: 5px;
  background-color: #111111;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableHead-root {
  white-space: nowrap;
  text-transform: uppercase;
  background-color: #000000;
  border: 1px solid #232323;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableHead-root .MuiTableCell-root {
  font-weight: 600;
  letter-spacing: 0.18em;
}

.MUI-table .MuiTableRow-root {
  border-bottom: 1px solid #232323;
  font-family: "Mulish", sans-serif !important;
}

.MUI-table .MuiTableCell-root {
  border: none;
  color: #c4c4c4;
  white-space: nowrap;
  font-family: "Mulish", sans-serif !important;
}

/* MUI TextFields */

.input {
  width: 100%;
  margin-bottom: 10px !important;
}

.input .MuiOutlinedInput-root {
  background-color: #111111;
  border-radius: 100px;
}

.input .MuiInputBase-input {
  color: #a2a2a2;
  font-size: 14px !important;
  font-family: "Mulish", sans-serif !important;
}

.input .MuiInputLabel-root {
  color: #a2a2a2;
  font-size: 16px !important;
  font-family: "Mulish", sans-serif !important;
}

.input .MuiInputLabel-root.Mui-focused {
  color: #a2a2a2;
  font-family: "Mulish", sans-serif !important;
}

.input .MuiOutlinedInput-notchedOutline {
  border-color: #303030;
}


/* ICONS */

.fa-x {
  color: #6b6b70;
}

.fa-x:hover {
  color: #ff0000;
}


/* Mobile Trade, Orders, and Transactions UIs */

.mobile-trading-items,
.mobile-order-items,
.mobile-transaction-items,
.mobile-pnl-statement {
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.mti {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
  border-radius: 10px;
  border: 1px solid #1f1f1f;
  background-color: #111111;
}

.mti:hover {
  background-color: #171717;
}

.mti-left {
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.mti-left p:nth-of-type(2) {
  gap: 5px;
  display: flex;
}

.mti-right {
  gap: 5px;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.mti-symbol {
  font-size: 14px;
  color: #ffffff;
}

.mti-price {
  font-size: 14px;
}

.mti-side {
  font-size: 11px;
}

.mti-title {
  font-size: 13px;
  color: #c4c4c4;
}

.mti-value {
  font-size: 13px;
  color: #f1f1f1;
}

.mti-type {
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

.mti-status-pending {
  font-size: 12px;
  color: #ffff57;
  text-transform: uppercase;
}

.mti-status-executed {
  font-size: 12px;
  color: #29ff7b;
  text-transform: uppercase;
}


/* Trade Overview (POPUP) */

.trade-overview,
.order-overview,
.transaction-overview,
.pnl-overview {
  left: 0;
  bottom: 0;
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1000;
  background-color: #111111;
  border-top: 1px #232323;
  border-radius: 15px 15px 0 0;
  box-shadow: 0 -10px 15px rgba(23, 23, 23, 0.525);
}

.trade-overview > div,
.order-overview > div,
.transaction-overview > div,
.pnl-overview > div {
  padding: 20px 30px;
}

.overview-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px 15px 0 0;
  background-color: #181818;
  border-bottom: 2px solid #232323;
}

.overview-top p:nth-of-type(1) {
  display: flex;
  flex-direction: column;
}

.overview-symbol {
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.overview-top i {
  font-size: 25px;
  font-weight: 900;
}

.overview-stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overview-stats > p {
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.overview-title {
  font-size: 14px;
  color: #c4c4c4;
}

.overview-value {
  font-size: 14px;
  color: #f1f1f1;
}

.overview-data {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.overview-data p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Filter */
.filter {
  gap: 10px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  overflow: scroll;
  scrollbar-width: none;
}

.filter-btn {
  color: #ffffff;
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #151515;
  text-transform: uppercase;
  border: 1px solid #232323;
}

.filter-btn-active {
  color: #ffffff;
  font-size: 12px;
  padding: 7px 15px;
  border-radius: 5px;
  background-color: #303030;
  text-transform: uppercase;
  border: 1px solid #232323;
}



@media (max-width: 768px) {
  body {
    padding: 0 1%;
  }
}